---
layout: default
title: PyangBind Documentation
---

<section class="post-list">

  <header class="post-header intro" style='height: 250px'>
    <!--<div class="intro-in"> -->
    <div>
      <h1 class="post-title">{{ page.title }}</h1>
      {% if page.subtitle %}
        <h2 class="intro-subtitle">{{ page.subtitle }}</h2>
      {% endif %}
    </div>
  </header>


  {% for post in site.categories.pyangbind %}
    <article class="post-item container">
      <header>
        <h1 class="post-title">
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h1>
      </header>

      <p>{{ post.intro | strip_html }} <a href="{{ post.url | prepend: site.baseurl }}" title="Permalink to: {{ post.title }}" class="read-more">Read more</a></p>
      <!--<p>{{ post.content | strip_html | truncatewords: 56 }} <a href="{{ post.url | prepend: site.baseurl }}" title="Permalink to: {{ post.title }}" class="read-more">Read more</a></p>-->
    </article>
    <div id="hrwrapper" style="text-align: center">
      <div id="hr" style="display: inline-block; width: 80%;"><hr></div>
    </div>
  {% endfor %}

</section>
